body{
    color:rgb(79 87 12);
    background: rgb(50 217 96 / 62%);
    margin: 3;
}
    header{
        border-bottom:solid 5px rgb(106, 77, 22);
        padding: 8;
        font-size: 40px;
        color: rgb(143 100 29);
    }